<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>NBA API</h1>
            <p>Copyright &copy; 2021</p>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="docs.html">Docs</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href=""><fa-icon [icon]="faGithub" class="fab fa-2x"></fa-icon></a>
            <a href=""><fa-icon [icon]="faFacebook" class="fab fa-2x"></fa-icon></a>
            <a href=""><fa-icon [icon]="faInstagram" class="fab fa-2x"></fa-icon></a>
            <a href=""><fa-icon [icon]="faTwitter" class="fab fa-2x"></fa-icon></a>
        </div>
    </div>
</footer>
