ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.footer .social a {
  margin: 0 10px;
}
