<!-- Head -->
<section class="features-head bg-primary py-3">
    <div class="container grid">
        <div>
            <h1 class="xl">Features</h1>
            <p class="lead">
                Check out the features of the App
            </p>
        </div>
        <img src="../../assets/images/server.png" alt="">
    </div>
</section>

<!-- Sub head -->
<section class="features-sub-head bg-light py-3">
    <div class="container grid">
        <div>
            <h1 class="md">App Name</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor cupiditate dignissimos
                temporibus perspiciatis quae!
            </p>
        </div>
        <img src="../../assets/images/server2.png" alt="">
    </div>
</section>

<section class="features-main my-2">
    <div class="container grid grid-3">
        <div class="card flex">
            <fa-icon [icon]="faServer" class="fas fa-3x"></fa-icon>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nemo saepe corrupti et dolorem
                voluptate at, nostrum rem voluptatem ab alias quia molestiae ea, libero nihil deserunt. Molestias, eum?
                Necessitatibus!
            </p>
        </div>
        <div class="card flex">
            <fa-icon [icon]="faNetworkWired" class="fas fa-3x"></fa-icon>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus recusandae
                perferendis culpa, reiciendis a itaque debitis qui vel dignissimos ipsum!
            </p>
        </div>
        <div class="card flex">
            <fa-icon [icon]="faLaptopCode" class="fas fa-3x"></fa-icon>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                magnam.
            </p>
        </div>
        <div class="card flex">
            <fa-icon [icon]="faDatabase" class="fas fa-3x"></fa-icon>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a!
            </p>
        </div>
        <div class="card flex">
            <fa-icon [icon]="faPowerOff" class="fas fa-3x"></fa-icon>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                magnam.
            </p>
        </div>
        <div class="card flex">
            <i class="fas faUpload fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                magnam.
            </p>
        </div>
    </div>
</section>
