:host {
  background-color: #767270
}

main {
  grid-area: content;
  background-color: #20bf6b;
}

aside {
  grid-area: sidebar;
  background-color: #5da4d9;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-gap: 20px;
  grid-template-columns: 35% 65%;
  grid-template-areas:
  "sidebar content"
}

img {
  width: 100%;
}

.mt-2 {
  margin-top: 1.5rem;
}

fa-icon {
  align-content: baseline;
}

.flex {
  display: flex;
  margin: 10px 0;
}

.fa-15x {
  font-size: 1.5em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-weight: lighter;
  opacity: 1;
}

.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}

.sidebar-icon {
  padding: 10px 0;
  text-align: center;
  width: 20%;
}

.sidebar-info {
  padding: 10px 0;
  width: 80%;
  border-bottom: 1px solid #4783c2;
}



