<div class="container mt-2">

    <div class="wrapper">
        <aside>

            <div class="responsive-img">
                <a href="index.html"><img src="../../assets/images/avatar.png" alt=""></a>
            </div>

            <!-- Name -->
            <div class="flex">
                <div class="text-light sidebar-icon">
                    <fa-icon [icon]="faUser" class="fas fa-15x"></fa-icon>
                </div>
                <div class="text-light sidebar-info">
                    <h3>Georgios Xonikis</h3>
                    <h4 class="mt-2">Full-stack Software Engineer</h4>
                </div>
            </div>


            <!-- Email -->
            <div class="flex">
                <div class="text-light sidebar-icon">
                    <fa-icon [icon]="faEnvelope" class="fas fa-15x"></fa-icon>
                </div>
                <div class="text-light sidebar-info">
                    <h4>georgios.xonikis@gmail.com</h4>
                </div>
            </div>

            <!-- Address -->
            <div class="flex">
                <div class="text-light sidebar-icon">
                    <fa-icon [icon]="faHome" class="fas fa-15x"></fa-icon>
                </div>
                <div class="text-light sidebar-info">
                    <h4>Schaffhauserstrasse 556</h4>
                    <h4>Zurich 8052</h4>
                    <h4>Switzerland</h4>
                </div>
            </div>


        </aside>

        <main>
            <div class="card">
                Work Experience
            </div>


        </main>
    </div>

</div>
