ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .docs-head {
    text-align: center;
  }

  .docs-head img {
    justify-self: center;
  }
}
